
<div class="loginMain">
    <div class="container">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-5">
                <img src="assets/images/login-img.jpg" class="img-fluid rounded-4" alt="">
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="text-center">
                    <img src="assets/images/logo.png" class="mb-4" alt="">
                    <h4>Forgot Password</h4>
                    <p>Please enter the email address you'd like your password reset information sent to</p>
                    <form action="" class="w-75 mx-auto mt-4 mb-3">
                        <div class="form-group mb-3">
                            <input type="email" name="email" data-ng-model="email" id="" placeholder="Enter your registered email">
                            <i class="bi bi-envelope-fill"></i>
                        </div>
                        <button type="button" data-ng-click="forgot_password()" class="btn btn-dark px-4 py-3 rounded-4">Submit</button>
                    </form>
                    <div class="text-center">
                        <a ng-href="#!/" class="text-primary">Back to Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
